<!DOCTYPE html>
<html lang="en">
<head>
    <title>VCS Анализатор</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container flex justify-between items-center">
            <h1 class="logo">VCS Анализатор</h1>
            <!-- <nav class="nav-links">
                <a href="#">Your Job</a>
                <a href="#">Download</a>
                <a href="#">What they said</a>
                <a href="#">Pricing</a>
                <a href="#" class="btn-signin">Sign In</a>
            </nav> -->
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <p>© 2025 Developer Analyzer. Powered by Django.</p>
        </div>
    </footer>
</body>
</html>
